doctype html
html(lang="en")
  head
    title welcome to email system!
  body 
    h1 Welcome 
    #container.col 
      h3 Email title is here 
      p this is hello word! 
      ul 
        li one line
        li two line
        li three line